@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Open+Sans:wght@300;400;600;700;800&display=swap');

:root {
  --primary-color: #192965;
  --secondary-color: #035aa6;
  --primaryRGBA: rgba(0,0,0,0.3);
  --mainGray: #fafafa;
  --mainYellow: #fcbf1e;
  --darkGray: #5f5e5e;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainTransition: all 0.3s ease-in-out;
  --mainSpacing: 0.3rem;
}

.text-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}

.text-main {
  color: var(--primary-color)
}

body {
  font-family: "Open Sans", sans-serif !important; 
  background: var(--mainGray) !important;
  color: var(--mainBlack);

}

.main-link {
  padding: 0.5rem 1.5rem;
  background: var(--secondary-color);
  color: var(--mainWhite);
  font-size: 1rem;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  outline: 2px solid var(--secondary-color);
  outline-offset: 4px;
  border: none;
  transition: var(--mainTransition)
}

.main-link:hover {
  text-decoration: none;
  color: var(--mainGray);
  background: var(--primary-color);
  outline: 2px solid var(--mainWhite);
  outline-offset: -3px;
  font-size: 1.2rem;
}
